#app {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #2c3350;
  margin-top: 100px;
}

.form-group {
  & > * {
    margin-bottom: 20px;
  }
}
.signout-btn {
  position: absolute;
  right: 10%;
  top: 10%;
  margin-top: 10px;
}
input {
  vertical-align: middle;
}
